{% extends "base.html" %}

{% block title %}
   <title>
     {{ object|yesno:"Update, Add" }} Breed | Pet Shelter
   </title>
{% endblock %}

{% block content %}
  <div class="w3-display-container height-250">
    <div class="w3-card-4 w3-margin w3-round-xxlarge w3-half w3-display-topmiddle">
      <div class="w3-container w3-black w3-round-xxlarge">
        <h2 class="w3-text-yellow w3-center">
          {{ object|yesno:"Update, Add" }} Breed
        </h2>
      </div>

      <form
          class="w3-container w3-padding"
          method="post"
          action="{% if object %} {% url 'shelter:breed-update' pk=object.id %}
                  {% else %} {% url 'shelter:breed-create' %} {% endif %}"
      >
        {% csrf_token %}
        <p>
          <label
              for="name"
              class="w3-text-black w3-padding"
          >
            <b>Name: *</b>
          </label>
          <input
              id="name"
              class="w3-input w3-border w3-sand w3-round-xxlarge w3-padding"
              name="name"
              type="text" {% if object %} value="{{ object.name }}" {% endif %}
              required
          >
          {% if form.errors.name %}
            {{ form.errors.name }}
          {% endif %}
        </p>
        <p>
          <label
              for="type"
              class="w3-text-black w3-padding"
          >
            <b>Type: *</b>
          </label>
          <select
              id="type"
              class="w3-select w3-border w3-sand w3-round-xxlarge w3-padding"
              name="type"
          >
            <option value="" disabled selected>
              Choose type
            </option>
            {% if form.type %}
              {% for type in form.type %}
                <option value="type">{{ type }}</option>
              {% endfor %}
            {% endif %}
          </select>
          {% if form.errors.type %}
            {{ form.errors.type }}
          {% endif %}
        </p>
        <p class="w3-center">
          <br>
          <button
              class="w3-btn w3-black w3-text-yellow w3-round-xxlarge"
              type="submit"
          >
            <b>Submit</b>
          </button>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
