{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Pet List | Pet Shelter</title>
{% endblock %}

{% block content %}

  <div class="w3-container">
  <h2 class="w3-center">Pet List</h2>
  {% if pet_list %}
  <table class="w3-table-all w3-centered" style="font-size: 16px">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Gender</th>
      <th>Breed</th>
      <th>Age</th>
      <th>Photo</th>
    </tr>
    {% for pet in pet_list %}
    <tr>
      <td style="vertical-align: middle;">
        <a href="{% url 'shelter:pet-detail' pk=pet.id %}">
          <b>{{ pet.name }}</b>
        </a>
      </td>
      <td style="vertical-align: middle;">{{ pet.type }}</td>
      <td style="vertical-align: middle;">{{ pet.gender }}</td>
      <td style="vertical-align: middle;">
        {% if pet.breed.name %}
          {{ pet.breed.name }}
        {% else %}
          unknown
        {% endif %}
      </td>
      <td style="vertical-align: middle;">
        {% if pet.age %}
          {{ pet.age }} year{{ pet.age|pluralize }}
        {% else %}
          unknown
        {% endif %}
      </td>
      <td>
        <a href="{% url 'shelter:pet-detail' pk=pet.id %}">
          {% if pet.photo %}
            <img src="{{ pet.photo.url }}" class="w3-round" style="width:100px; height: 100px" alt="Pet Photo">
          {% else %}
            <img src="{% static 'images/coming_soon.png' %}" class="w3-round" style="width:100px; height: 100px" alt="Come Soon">
          {% endif %}
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>

  {% else %}
    <h2 class="w3-center">All our pets found family!</h2>
  {% endif %}

  </div>
{% endblock %}