{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Pet List | Pet Shelter</title>
{% endblock %}

{% block content %}
  <div class="w3-container">
    <h2 class="w3-center">Pet List</h2>
    {% if pet_list %}
      <div class="w3-row">
        <form action="" method="get" class="w3-half w3-padding">
          <p class="w3-row w3-center">
            <input class="w3-input w3-border w3-sand w3-round-xxlarge w3-center w3-margin" name="name"  type="search" placeholder="Search by name" value="{{ search_form.name.value }}"/>
          </p>
        </form>
        <form action="" method="get" class="w3-half w3-padding">
          <p class="w3-row w3-center">
            <input class="w3-input w3-border w3-sand w3-round-xxlarge w3-center w3-margin" name="breed"  type="search" placeholder="Search by breed" value="{{ search_form.breed.value }}"/>
          </p>
        </form>
      </div>
      <table id="Table" class="w3-table-all w3-centered" style="font-size: 16px">
        <tr>
          <th style="cursor: pointer;" onclick="sortTable(0)">ID &#x21c5;</th>
          <th style="cursor: pointer;" onclick="sortTable(1)">Name &#x21c5;</th>
          <th style="cursor: pointer;" onclick="sortTable(2)">Type &#x21c5;</th>
          <th style="cursor: pointer;" onclick="sortTable(3)">Gender &#x21c5;</th>
          <th style="cursor: pointer;" onclick="sortTable(4)">Breed &#x21c5;</th>
          <th style="cursor: pointer;" onclick="sortTable(5)">Age &#x21c5;</th>
          <th>Photo</th>
        </tr>
        {% for pet in pet_list %}
        <tr>
          <td style="vertical-align: middle;">{{ pet.id }}</td>
          <td style="vertical-align: middle;">
            <a href="{% url 'shelter:pet-detail' pk=pet.id %}">
              <b>{{ pet.name }}</b>
            </a>
          </td>
          <td style="vertical-align: middle;">{{ pet.type }}</td>
          <td style="vertical-align: middle;">{{ pet.gender }}</td>
          <td style="vertical-align: middle;">
            {% if pet.breed.name %}
              {{ pet.breed.name }}
            {% else %}
              unknown
            {% endif %}
          </td>
          <td style="vertical-align: middle;">
            {% if pet.age %}
              {{ pet.age }} year{{ pet.age|pluralize }}
            {% else %}
              unknown
            {% endif %}
          </td>
          <td>
            <a href="{% url 'shelter:pet-detail' pk=pet.id %}">
              {% if pet.photo %}
                <img src="{{ pet.photo.url }}" class="w3-round" style="width:100px; height: 100px" alt="Pet Photo">
              {% else %}
                <img src="{% static 'images/coming_soon.png' %}" class="w3-round" style="width:100px; height: 100px" alt="Come Soon">
              {% endif %}
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>

    {% else %}
      <h2 class="w3-center">No pest have been found</h2>
    {% endif %}

  </div>
  <script src="{% static 'js/sort-table.js' %}"></script>
{% endblock %}
