{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Login | Pet Shelter</title>
{% endblock %}

{% block content %}
  <div class="w3-display-container" style="height:325px;">
    <div class="w3-card-4 w3-margin w3-round-xxlarge w3-half w3-display-topmiddle">
      <div class="w3-container w3-black w3-round-xxlarge">
        <h2 class="w3-text-yellow w3-center">Login</h2>
      </div>
      {% if form.errors %}
        <p class="w3-text-red w3-center">Invalid credentials</p>
      {% else %}
        <p>&nbsp;</p>
      {% endif %}

      <form class="w3-container w3-padding" method="post" action="{% url 'shelter:login' %}">
        {% csrf_token %}
        <p>
        <label class="w3-text-black w3-padding"><b>Login</b></label>
        <input class="w3-input w3-border w3-sand w3-round-xxlarge" name="username" type="text"></p>
        <p>
        <label class="w3-text-black w3-padding"><b>Password</b></label>
        <input class="w3-input w3-border w3-sand w3-round-xxlarge" name="password" type="password"></p>
        <p class="w3-center">
          <br>
        <button class="w3-btn w3-black w3-text-yellow w3-round-xxlarge" type="submit" value="login">Submit</button>
        </p>
        <input type="hidden" name="next" value="{{ next }}"/>
      </form>
    </div>
  </div>
{% endblock %}