body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.index-content {
    flex: 1;
}

.div-footer {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.div-navigation {
    padding-top: 30px;
    margin-top: -35px;
}

.nav-font-size-i {
   font-size:24px;
}

.nav-font-size {
    font-size: 20px;
}

#nav-link {
    width:20%;
    font-size:20px;
}

.pag-font-size {
    font-size: 18px;
}

#mySidebar {
    display:none;
    font-size: 20px;
    margin-left: -50px;
    width: 300px;
}

.field-height {
   height:325px;
}

.height-250 {
    height: 250px;
}

.list-title {
    margin:30px 100px 30px 100px;
}

.table-font-size {
    font-size: 16px;
}

.th-cursor {
    cursor: pointer;
}

#td {
    vertical-align: middle;
}

.pet-form-height {
    height: 750px
}

#description {
    resize: none;
}

#photo {
    display: none;
}

.pet-photo {
    width:100px;
    height: 100px;
}


