<div
    class="w3-bar w3-orange"
    style="border-top-right-radius: 40px; border-top-left-radius: 40px">
   <div class="w3-container">
      <p>Contact us</p>
      <p>
        pet_shelter@lovepets.com
        <br>
        +380 88 888 88 88
        <br>
        155 Kvitneva Street, Kyiv, Ukraine
      </p>
   </div>

  <div class="w3-container">
    <p class="w3-center">
      Our Pet Shelter is always open for cooperation and glad for any assistance
    <div class="w3-container">
      <p class="w3-center w3-opacity">
        Copyright @2023 Pet Shelter
        <br>Site by Diana Shyrokikh
      </p>
    </div>
  </div>
</div>
