{% load static %}
<div class="w3-bar w3-orange div-footer">
   <div class="w3-container">
      <p>Contact us</p>
      <p>
        petshelter@lovepets.com
        <br>
        +380 88 888 88 88
        <br>
        155 Pet Shelter Street, Kyiv, Ukraine
      </p>
   </div>

  <div class="w3-container">
    <p class="w3-center">
      Our Pet Shelter is always open for cooperation and glad for any assistance
    <div class="w3-container">
      <p class="w3-center w3-opacity">
        Copyright @2023 Pet Shelter
        <br>Site by Diana Shyrokikh
      </p>
    </div>
  </div>
</div>
