<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Pet Shelter</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="w3-sans-serif" style="display: flex; flex-direction: column; min-height: 100vh">

  {% block navigation %}
    {% include "includes/navigation.html" %}
  {% endblock %}

  {% block sidebar %}
    {% include "includes/sidebar.html" %}
  {% endblock %}

  <div style="flex: 1">
    {% block content %}{% endblock %}
  </div>

  <div>
    {% block pagination %}
        {% include "includes/pagination.html" %}
    {% endblock %}
  </div>


    <div class="w3-bar w3-orange">
       <div class="w3-container">
          <p>Contact us</p>
          <p>
            pet_shelter@lovepets.com
            <br>
            +380 88 888 88 88
            <br>
            155 Kvitneva Street, Kyiv, Ukraine
          </p>
       </div>

      <div class="w3-container">
        <p class="w3-center">
          Our Pet Shelter is always open for cooperation and glad for any assistance
        <div class="w3-container">
          <p class="w3-center w3-opacity">
            Copyright @2023 Pet Shelter
            <br>Site by Diana Shyrokikh
          </p>
        </div>
      </div>
    </div>
</body>
</html>
